body{
    font-family: 'Exo 2', sans-serif;
    background-image: url(/fondoweb21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headerprincipal{
    display: flex;
    align-items: center;
    background-color: #d6a761;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    justify-content: center;

}
.headerprincipal img{
    width: 100px;
    
}
.headerprincipal a{
    
    background-color: #ffc061;
    padding: 10px;
    top: 0;
    border-radius: 10px;
    color: black;   
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}
.headerprincipal a:hover{
    background-color: #34bce0;
    color: aliceblue;

}
.botonesheader{
    margin-left: 100px;
}
.botonesheader a{
  font-family: 'Exo 2', sans-serif;
}

.itemsiniciales{
    display: flex;
    position: relative;
    margin-top: 200px;
    overflow: hidden;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.itemsiniciales h1{
    
    color: white;
    font-size: 70px;
    text-align: left;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 25px;
    border-right: 2px solid #04d4f0; /* Simula el cursor de escritura */
    overflow: hidden;
    animation: escribir 3s steps(30) , blink-caret 1s step-end infinite;

}
@keyframes escribir {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink-caret {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #34bce0;
    }
}

/* CODIGO PARA LA ANIMACION DEL BTN CONTINUAR*/
.itemsiniciales button{
    margin-left: 700px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */

}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;

  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  .draw-border:hover {
    color: #d6a761;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    margin-left: 450px;
    justify-content: center;
    background: none;
    background-color: #58afd17e;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 1em 2em;
    letter-spacing: 0.05rem;  }
  .btn a{
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Exo 2', sans-serif;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

  html{
    scroll-behavior: smooth;
  }

  .contenido{
    color: white;
    font-size: 30px;
  }
  .contenido img{
    width: 310px;
    border-radius: 200px; 
    cursor: pointer;
    margin-top: 20px;
    margin-right: 180px;
  }
  .contenido img:hover{
    box-shadow: 0 3px 28px rgba(255, 221, 0, 0.89); /* Sombra */
         

  }
  
  

  /* Definicion de IA */

  .definicion{
    margin-top: 250px;
    width: 70%;
    text-align: center;
    background-color: #d6a76194;
    border-radius: 20px;
    padding: 15px;
    margin-left: 250px;
   
  }
  .definicion p{
    margin: 50px;
    font-size: 25px;
    color: white;
  }

  .definicion img{
    border-radius: 20px;
    margin: 25px;
    margin-bottom: -20px;
    width: 350px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.89); /* Sombra */

  }

  /* Btn */
  .wrapper{
    top:50%;
    left:50%;
    margin-top: -20px;
    margin-bottom: 15px;
}
.wrapper button{
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #328083 50%, #3c989b 50%);
    border-style: none;
    color:#fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.wrapper button span{
    position: absolute;
    display: block;
}
.wrapper button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.wrapper button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.wrapper button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.wrapper button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.wrapper button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.wrapper button:hover span{
    animation-play-state: paused;
}


/*View Content*/

.viewcontent {
  margin-top: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.viewcontent p{
  color: whitesmoke;
  font-size: 28px;
}
.viewcontent img{
  width: 20%;
  top:50%;
  left:50%;
  margin-bottom: 30px;
  align-self: center;
  background-color: #328083;
  border-radius: 20px;
}

/*TARJETAS*/
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  position: relative;
  top: 0;
  transition: all .1s ease-in;
    
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  p {
    flex: 1;
    line-height: 1.4;
    color: #4d4c4c;
  }
  
  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;
    
    h1 {
      font-size: 24px;
    }
  }
}

.espaciadofooter{
  margin-bottom: 475px;
}

/*foot*/
footer {
  width:84%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 8%;
  background-color: rgba(0, 0, 0, 0.606);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(5500px);
}
footer i{
  color: #f0b104;
}
.logofoot {
  height: 80px;
  margin-bottom: 1rem;
}
.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  font-size: 30px;
}
.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
  text-align: center;
  justify-content: center;
}
.social-icon i {
  text-align: center;
  justify-content: center;
  margin-top: 9px;
}
.social-icon:hover {
  background-color: #ffffff;
  filter: invert(1);
}
.social-icon:nth-of-type(2) {
  background-image: url();
}
.social-icon:nth-of-type(3) {
  background-image: url();
}
.social-icon:nth-of-type(4) {
  background-image: url();
}
.footer-menu-container {
  list-style-type: none;
  color: #f2f2f2;
  font-size: 18px;
}
.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.menu-item:hover {
  opacity: 1;
}
.copyright {
  color: #fffbfb;
  opacity: 0.3;
  text-align: center;
}